@{
    ViewBag.Title = "File Upload";
}

<h2>File Upload</h2>

@using (Html.BeginForm("UploadFile", "FileUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label class="control-label col-md-2">Choose File:</label>
        <div class="col-md-10">
            <input type="file" name="file" id="file" required />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Upload" class="btn btn-primary" />
        </div>
    </div>
}

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(function () {
            $('#file').change(function () {
                var file = $(this)[0].files[0];
                var fileName = file.name;
                var fileSize = file.size;
                var fileExt = fileName.split('.').pop().toLowerCase();
                var allowedExtensions = ['jpg', 'jpeg', 'png', 'pdf', 'doc', 'docx', 'xls', 'xlsx'];

                if ($.inArray(fileExt, allowedExtensions) == -1) {
                    alert('Invalid file type. Allowed file types: ' + allowedExtensions.join(', '));
                    $('#file').val('');
                    return false;
                }

                if (fileSize > 20971520) { // 20MB
                    alert('File size exceeds maximum allowed size of 20 MB.');
                    $('#file').val('');
                    return false;
                }
            });
        });
    </script>
}
